<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <remove value="zzk的相亲网站" />
                <add value="azi" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
